- create a new python project and install robotframework and rpaframework
 - write a console application that does the following:
     - it reads a text from the terminal.
     - Then using RPA.Browser.Selenium, opens the browser window, goes to the google home page, inputs the text in the search box and clicks on the button to do search (or sends Enter)
 - write a console application that does the following:
    - it reads a text from the terminal.
    - Then it opens a Notepad window, pastes the text in the window, and clicks File -> Save As to save the new file, at a predefined path that we will paste in the Save as box.